extends ../components/base/layout

block variables
  - const title = "СН-РУС Сервис | О компании"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "about.html"

block main
  main
    +breadcrumbs({
      list: [
        {
          href: "#",
          text: "Главная страница"
        },
        {
          text: "О&nbsp;нас",
          isActive: true
        }
      ]
    })
    +section({
      title: "О&nbsp;компании",
      content: {
        text: [
          "Группа компаний &laquo;СН&raquo;, основанная в&nbsp;2017&nbsp;году, является выкосотехнологичным предприятием, прозводящим высококачественные и&nbsp;инновационные продукты для нефтегазовой отрасли. Собрав многолетний мировой опыт ведущих производителей бурового оборудования предприятие развивает технический сервис и&nbsp;обслуживание клиентов на&nbsp;месте их&nbsp;постоянной дислокации.",
          "В&nbsp;настоящее время компания ООО &laquo;СН-РУС СЕРВИС&raquo; производит:",
          "&mdash;&nbsp;Cистемы верхнего привода переменного и&nbsp;постоянного тока- Буровые насосы и&nbsp;мобильные буровые установки - Запасные части к&nbsp;любому буровому оборудованию",
          "Производимое оборудование и&nbsp;сервисные услуги охватывают нефтегазодобывающие регионы Китая, такие как: провинции Цзилинь, Сычуань, Ганьсу, Цинхай, Синьцзян. Экспортируются в&nbsp;Южную Америку, Арабские страны, Россию и&nbsp;среднеазиатский регион."
        ]
      },
      image: {
        src: "photo-company",
        format: "webp",
        width: "683",
        height: "598",
        alt: "image"
      }
    }).section--first
    +section({
      title: "Миссия компании",
      content: {
        text: [
          "<strong>Создайте самый совершённый и&nbsp;надёжный привод с&nbsp;верхним приводом в&nbsp;мире</strong>",
          "Придерживаясь корпоративного принципа &laquo;избавлять пользователей от&nbsp;забот и&nbsp;приносить пользу сотрудникам&raquo;, ООО &laquo;СН-РУС СЕРВИС&raquo; стремится создавать мировых экспертов в&nbsp;области геологоразведочного оборудования! Предлагайте продукты мирового класса для создания максимальной ценности для пользователей!"
        ]
      },
      image: {
        src: "photo-equipment",
        format: "webp",
        width: "683",
        height: "598",
        alt: "image"
      }
    }).section--reverse
    +section({
      title: "Технологические услуги",
      content: {
        text: [
          "В&nbsp;отделе технического обслуживания ООО &laquo;СН-РУС СЕРВИС&raquo; в&nbsp;настоящее время работают 169 сотрудников и&nbsp;53&nbsp;сервисных инженера. Первоклассная техническая команда может предоставить пользователям лучшие решения для привода верхнего уровня.",
          "У&nbsp;нас есть проектный отдел в&nbsp;Ганьсу, проектный отдел в&nbsp;Синьцзяне, проектный отдел в&nbsp;Северном Шэньси и&nbsp;проектный отдел в&nbsp;Сычуани, а&nbsp;также большой склад готовой продукции и&nbsp;аксессуаров с&nbsp;достаточным запасом, чтобы предоставлять пользователям комплексное предпродажное, во&nbsp;время продаж и&nbsp;послепродажное обслуживание, придерживаясь наших первоначальных намерений и&nbsp;предоставляя проактивные услуги."
        ]
      }
    })
    +section({
      title: "Глобальная сеть поддержки",
      content: {
        text: [
          "ООО &laquo;СН-РУС СЕРВИС&raquo; стремится к&nbsp;созданию глобальной сервисной сети и&nbsp;глобального бренда высококачественных услуг для систем верхнего привода. У&nbsp;нас есть несколько хорошо обученных и&nbsp;опытных инженеров, и&nbsp;мы&nbsp;активно развиваем местную команду инженеров поддержки.",
          "Наша компания располагает сервисными центрами и&nbsp;складами запасных частей во&nbsp;многих странах и&nbsp;регионах по&nbsp;всему миру и&nbsp;полагается на&nbsp;логистические услуги мирового класса, обеспечивающие быструю поставку запасных частей, своевременное прибытие персонала и&nbsp;эффективное обслуживание.",
          "<strong>Независимо от&nbsp;того, где вы&nbsp;находитесь, мы&nbsp;предоставим вам наиболее эффективное решение в&nbsp;кратчайшие сроки и&nbsp;с&nbsp;максимальной скоростью.</strong>"
        ]
      },
      image: {
        src: "photo-storage",
        format: "webp",
        width: "683",
        height: "598",
        alt: "image"
      }
    })
    +feedback()

block modals
