extends ../components/base/layout

block variables
  - const title = "СН-РУС Сервис | Каталог"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "catalog.html"

block main
  main
    +breadcrumbs({
      list: [
        {
          href: "#",
          text: "Главная страница"
        },
        {
          text: "Каталог",
          isActive: true
        }
      ]
    }).breadcrumbs--absolute
    +intro().intro--video
    +catalog()

block modals
