extends ../components/base/layout

block variables
    - const title = "СН-РУС Сервис"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "index.html"

block main
    main
      +intro()
      +section({
        title: "Надежные и&nbsp;эффективные решения для различных областей бурения нефтяных и&nbsp;газовых скважин",
        list: [
          {
            type: "category",
            href: "#",
            image: {
              src: "image-1",
              format: "webp",
              width: "320",
              height: "269",
              alt: "image"
            },
            title: "Системы верхнего привода"
          },
          {
            type: "category",
            href: "#",
            image: {
              src: "image-2",
              format: "webp",
              width: "320",
              height: "269",
              alt: "image"
            },
            title: "Мобильные буровые установки"
          },
          {
            type: "category",
            href: "#",
            image: {
              src: "image-3",
              format: "webp",
              width: "320",
              height: "269",
              alt: "image"
            },
            title: "Буровые насосы"
          },
          {
            type: "category",
            href: "#",
            image: {
              src: "image-4",
              format: "webp",
              width: "320",
              height: "269",
              alt: "image"
            },
            title: "Инструменты и&nbsp;запчасти"
          }
        ]
      })
      +features()
      +service()
      +section({
        title: "Как мы&nbsp;снижаем риски при покупке оборудования",
        list: [
          {
            type: "advantage",
            title: "Ремонт и&nbsp;техническое обслуживание",
            description: "Мы&nbsp;развертываем мастерские и&nbsp;сервисные центры по&nbsp;ремонту и&nbsp;обслуживанию бурового оборудования в&nbsp;нефтегазодобывающих регионах России и&nbsp;стран СНГ. Главные центры технического обслуживания в&nbsp;России, находятся в&nbsp;Поволжском регионе (Самара) и&nbsp;западной Сибири (Нижневартовск)."
          },
          {
            type: "advantage",
            title: "Послепродажное обслуживание",
            description: "Наша компания предоставляет услуги на&nbsp;протяжении всего цикла работы оборудования. От&nbsp;установки продукта, ШМР, обучение персонала, диагностика, гарантийное обслуживание, послегарантийный ремонт на&nbsp;территории&nbsp;РФ и&nbsp;СНГ в&nbsp;наших сервисных центрах."
          },
          {
            type: "advantage",
            title: "Бесперебойная поставка запасных частей",
            description: "Наши склады запасных частей расположены в&nbsp;нефтедобывающих регионах страны, находятся в&nbsp;сервисных центрах обслуживания нашей компании. Доставка запасных частей из-за рубежа производится надежными логистическими маршрутами из&nbsp;всех точек мира в&nbsp;кратчайшие сроки."
          },
          {
            type: "advantage",
            title: "Лизинг оборудования",
            description: "Мы&nbsp;предоставляем высококачественные услуги лизинга, в&nbsp;партнерстве с&nbsp;ведущими лизинговыми компаниями РФ. Для удовлетворения потребностей клиентов мы&nbsp;подберем для вас наиболее оптимальную схему предоставления лизинговых услуг."
          }
        ]
      })
      +section ({
        background: {
          path: "content/feedback",
          src: "background",
          format: "webp",
          width: "1920",
          height: "846",
          alt: "background"
        },
        form: "true"
      })

block modals
