extends ../components/base/layout

block variables
  - const title = "СН-РУС Сервис"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html"

block main
  main
    +intro()
    +categories()
    +features()
    +service()
    +advantages()
    +feedback()

block modals
