extends ../components/base/layout

block variables
  - const title = "СН-РУС Сервис | Система верхнего привода DQ-20BSA-CH"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "product.html"

block main
  main
    +breadcrumbs({
      list: [
        {
          href: "#",
          text: "Главная страница"
        },
        {
          text: "Система верхнего привода DQ-20BSA-CH",
          isActive: true
        }
      ]
    })
    +product()
    +product-features()
    +product-description({
      title: "Описание",
      content: {
        description: [
          "Системы верхнего привода SLC-JH DQ90BS-JH DQ90BS&nbsp;&mdash; это система верхнего привода с&nbsp;электрическим частотно&nbsp;&mdash; регулируемым приводом переменного тока, укомплектованная двумя асинхронными электродвигателями с&nbsp;номинальной (непрерывной) мощностью 450 кВт (600 л.с.) каждый.",
          "Ассортимент СВП SLC-JH для буровых установок включает 21&nbsp;модель как электрических, так и&nbsp;гидравлических систем верхнего привода, предназначенных для ведения буровых работ на&nbsp;суше и&nbsp;на&nbsp;морском шельфе. Все СВП SLC-JH адаптированы для работы в&nbsp;составе наиболее популярных в&nbsp;России стационарных и&nbsp;мобильных буровых установк российского и&nbsp;иностранного производства."
        ]
      }
    })
    +product-description({
      title: "Применение",
      content: {
        description: [
          "Все новейшие модели СВП SLC-JH соответствуют требованиям перспективных технологий бурения с&nbsp;применением буровых растворов на&nbsp;углеводородной основе (РУО) и&nbsp;роторных управляемых систем (РУС), где необходимо обеспечение высоких оборотов буровой колонны, высокого крутящего момента на&nbsp;этих оборотах и&nbsp;высокого давления бурового раствора. Они применяются:"
        ],
        list : [
          "при бурении многозабойных скважин со&nbsp;сложным профилем типа &laquo;фишбон&raquo;,",
          "строительстве скважин на&nbsp;шельфе, где длина горизонтального участка превышает 7000 метров",
          "разработке месторождений с&nbsp;трудноизвлекаемыми запасами (ТРИЗ) углеводородов (в&nbsp;частности, Ачимовские залежи и&nbsp;Баженовская свита)."
        ]
      }
    })

block modals
