extends ../components/base/layout

block variables
    - const title = "СН-РУС Сервис | Спасибо за вашу заявку!"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "success.html"

block main
    main
      +page-success()
block modals
