mixin advantages()
  -
    const list = [
      {
        title: "Ремонт и&nbsp;техническое обслуживание",
        description: "Мы&nbsp;развертываем мастерские и&nbsp;сервисные центры по&nbsp;ремонту и&nbsp;обслуживанию бурового оборудования в&nbsp;нефтегазодобывающих регионах России и&nbsp;стран СНГ. Главные центры технического обслуживания в&nbsp;России, находятся в&nbsp;Поволжском регионе (Самара) и&nbsp;западной Сибири (Нижневартовск)."
      },
      {
        title: "Послепродажное обслуживание",
        description: "Наша компания предоставляет услуги на&nbsp;протяжении всего цикла работы оборудования. От&nbsp;установки продукта, ШМР, обучение персонала, диагностика, гарантийное обслуживание, послегарантийный ремонт на&nbsp;территории&nbsp;РФ и&nbsp;СНГ в&nbsp;наших сервисных центрах."
      },
      {
        title: "Бесперебойная поставка запасных частей",
        description: "Наши склады запасных частей расположены в&nbsp;нефтедобывающих регионах страны, находятся в&nbsp;сервисных центрах обслуживания нашей компании. Доставка запасных частей из-за рубежа производится надежными логистическими маршрутами из&nbsp;всех точек мира в&nbsp;кратчайшие сроки."
      },
      {
        title: "Лизинг оборудования",
        description: "Мы&nbsp;предоставляем высококачественные услуги лизинга, в&nbsp;партнерстве с&nbsp;ведущими лизинговыми компаниями РФ. Для удовлетворения потребностей клиентов мы&nbsp;подберем для вас наиболее оптимальную схему предоставления лизинговых услуг."
      }
    ]

  section.advantages
    .container
      .advantages__wrapper
        +title({
          tag: "h2",
          title: "Как мы&nbsp;снижаем риски при покупке оборудования"
        }).advantages__title
        ul.list-reset.advantages__list
          each item in list
            li.advantages__item
              +advantage-card(item)
