mixin breadcrumbs(data)
  .breadcrumbs&attributes(attributes)
    .container
      ul.list-reset.breadcrumbs__list
        each item in data.list
          li.breadcrumbs__item
            if (item.isActive)
              span.breadcrumbs__link.is-active!=item.text
            else
              a.breadcrumbs__link(href=item.href)!=item.text
            +icon("icon-chevron-down", 16, 16)
