mixin catalog-product()
  -
    const list = [
      {
        href: "#",
        image: {
          src: "image-1",
          format: "webp",
          width: "162",
          height: "320",
          alt: "product"
        },
        title: "DQ-20BSA-CH",
        carrying: "200&nbsp;тонн",
        depth: "3000&nbsp;м",
        torque: "35&nbsp;кНм"
      },
      {
        href: "#",
        image: {
          src: "image-1",
          format: "webp",
          width: "162",
          height: "320",
          alt: "product"
        },
        title: "DQ-30BSA-CH",
        carrying: "500&nbsp;тонн",
        depth: "7000&nbsp;м",
        torque: "60&nbsp;кНм"
      },
      {
        href: "#",
        image: {
          src: "image-1",
          format: "webp",
          width: "162",
          height: "320",
          alt: "product"
        },
        title: "DQ-40BSA-CH",
        carrying: "250&nbsp;тонн",
        depth: "4000&nbsp;м",
        torque: "40&nbsp;кНм"
      },
      {
        href: "#",
        image: {
          src: "image-1",
          format: "webp",
          width: "162",
          height: "320",
          alt: "product"
        },
        title: "DQ-50BSA-CH",
        carrying: "300&nbsp;тонн",
        depth: "5000&nbsp;м",
        torque: "46&nbsp;кНм"
      }
    ]

  .catalog-product
    .catalog-product__wrapper
      .catalog-product__image
        +img("content/catalog", "product", "webp", "320", "320", "product")
      .catalog-product__info
        h2.catalog-product__title Системы верхнего привода
        p.catalog-product__description Системы верхнего привода&nbsp;&mdash; высокотехнологическое и&nbsp;современное оборудование. Применение данного оборудования позволяет увеличить скорость бурения сложных скважин с&nbsp;высокой точностью прохождения ствола скважин, а&nbsp;также сократить непроизводственные затраты и&nbsp;повысить безопасность в&nbsp;процессе буровых работ.
      ul.list-reset.catalog-product__list
        each item in list
          li.catalog-product__item
            +catalog-card(item)
