mixin feedback(data)
  section.feedback
    .feedback__background
      +img("content/feedback", "background", "webp", "1920", "846", "background")
    .container
      .feedback__wrapper
        .feedback__form
            +feedback-form({
              title: "Хотите узнать больше?"
            })

