mixin product()
  section.product
    .container
      .product__wrapper
        .product__slider.swiper(data-slider="product")
          .product__slides.swiper-wrapper
            .product__slide.swiper-slide
              .product__image
                +img("content/product", "image-1", "webp", 560, 633, "image")
            .product__slide.swiper-slide
              .product__image
                +img("content/product", "image-1", "webp", 560, 633, "image")
            .product__slide.swiper-slide
              .product__image
                +img("content/product", "image-1", "webp", 560, 633, "image")
            .product__slide.swiper-slide
              .product__image
                +img("content/product", "image-1", "webp", 560, 633, "image")
          .swiper-button-prev
          .swiper-button-next
        h1.product__title Система верхнего привода DQ-20BSA-CH
        .product__info
          p.product__description Система верхнего привода грузоподъёмностью 200 тонн с&nbsp;электрическим частотно-регулируемым приводом переменного тока мощностью 35&nbsp;кВт, с&nbsp;цифровой системой управления предназначена для бурения нефтяных и&nbsp;газовых скважин в&nbsp;составе буровых установок средней и&nbsp;большой глубины бурения
          +btn({href: "#", text: "Оставить заявку"}).product__button
          p.product__text Появились вопросы? Звоните!
          a.product__phone(href="tel:+79251089127") +7(925)-108-9127
