mixin product-description(data)
  section.product-description
    .container
      .product-description__wrapper
        h2.product-description__title!=data.title
        .product-description__content
          if (data.content.description)
            each item in data.content.description
              p!=item
          if (data.content.list)
            ul
              each item in data.content.list
                li!=item
