mixin section(data)
  section.section&attributes(attributes)
    .container
      .section__wrapper
        if (data.image)
          .section__columns
            .section__info
              +title({
                tag: "h2",
                title: data.title
              }).section__title
              .section__content
                if (data.content.text)
                  each item in data.content.text
                    p!=item
                if (data.content.list)
                  ul
                    each item in data.content.list
                      li!=item
            .section__image
              +img("content/section", data.image.src, data.image.format, data.image.width, data.image.height, data.image.alt)
        else
          +title({
            tag: "h2",
            title: data.title
          }).section__title
          .section__content
            if (data.content.text)
              each item in data.content.text
                p!=item
            if (data.content.list)
              ul
                each item in data.content.list
                  li!=item
          if (data.gallery)
            ul.list-reset.section__list
              each item in data.gallery
                li.section__item
                  +img("content/section", item.image.src, item.image.format, item.image.width, item.image.height, item.image.alt)
