mixin service()
  section.service
    .container
      .service__wrapper
        +title({
          tag: "h2",
          title: "Сервисное обслуживание и&nbsp;ремонт систем верхнего привода"
        }).service__title
        .service__columns
          .service__info
            .service__content
              p Компания ООО &laquo;СН-РУС СЕРВИС&raquo; предлагает сервисное обслуживание по&nbsp;ремонту и&nbsp;техническому сопровождению специального оборудования для бурения нефтяных и&nbsp;газовых скважин в&nbsp;России и&nbsp;странах СНГ.
              p Системы верхнего привода обладают отличительными особенностями, такими как: высокая технологичность, надёжность, безопасность и&nbsp;способность бесперебойно работать в&nbsp;экстремальных и&nbsp;суровых условиях нефтегазовых месторождений Российской Федерации.
          .service__image
            +img("content/service", "image-1", "webp", "798", "309", "image")

