mixin service()
  section.section
    .container
      .section__wrapper
        .section__heading
          +icon("icon-figure", 24, 28)
          h2.title.title--h2.section__title Сервисное обслуживание и&nbsp;ремонт систем верхнего привода
        .section__columns
          .section__info
            .section__content
              p Компания ООО &laquo;СН-РУС СЕРВИС&raquo; предлагает сервисное обслуживание по&nbsp;ремонту и&nbsp;техническому сопровождению специального оборудования для бурения нефтяных и&nbsp;газовых скважин в&nbsp;России и&nbsp;странах СНГ.
              p Системы верхнего привода обладают отличительными особенностями, такими как: высокая технологичность, надёжность, безопасность и&nbsp;способность бесперебойно работать в&nbsp;экстремальных и&nbsp;суровых условиях нефтегазовых месторождений Российской Федерации.
          .section__image
            +img("content/service", "image-1", "webp", "798", "309", "image")

