mixin vacancy-card(data)
  a.vacancy-card__link(href="#")
    p.vacancy-card__date 10.09.2023
    p.vacancy-card__label Офис-менеджер
    p.vacancy-card__salary от&nbsp;50&nbsp;000 до&nbsp;60&nbsp;000&nbsp;₽ на&nbsp;руки
    p.vacancy-card__text ООО &laquo;СН-РУС СЕРВИС&raquo; приглашает на&nbsp;работу офис-менеджера. Распечатка и&nbsp;сшивка документации (копировально-множительные работы). Ведение реестра договоров/счётов. Обеспечение закрытия договорных документов
    +btn({type: "button", text: "Узнать подробнее"}).vacancy-card__button
