mixin vacancy()
  section.vacancy
    .container
      .vacancy__wrapper
        h1.vacancy__title Инженер по&nbsp;адаптации узлов трансмиссий
        p.vacancy__description Официальное трудоустройство. (ЗП&nbsp;от&nbsp;150&nbsp;000&nbsp;на руки)
        .vacancy__content
          h2 Обязанности:
          ul
            li Согласование с&nbsp;производителями техники (OEM) спецификаций, технических соглашений на&nbsp;узлы трансмиссий (коробки передач, раздаточные коробки, мосты и&nbsp;др.)
            li Деловая переписка, телефонные переговоры, встречи с&nbsp;производителем (Weichai Power Co., Ltd.) с&nbsp;целью подбора опций, разработки или модификации конструкции/характеристик продукта под требования OEM.
            li Проверка установки и&nbsp;проведение испытаний в&nbsp;составе&nbsp;ТС согласно требованиям производителя.
            li Техническая поддержка OEM.
            li Ведение технической документации.
            li Работа по&nbsp;другим направлениям компании по&nbsp;продвижению продукции корпорации Weichai Power.
          h2 Требования к&nbsp;работнику:
          ul
            li высшее техническое образование;
            li опыт работы в&nbsp;области машиностроения;
            li знания устройства и&nbsp;особенностей работы узлов трансмиссий;
            li общие знания устройства коммерческих транспортных средств (грузовики, автобусы и&nbsp;т.д.), строительной и&nbsp;с/х техники (трактор, погрузчик, бульдозер);
            li умение работать с&nbsp;конструкторской документаций, владение САПР программами (Creo, AutoCAD и&nbsp;другие) для работы с&nbsp;2D&nbsp;чертежами и&nbsp;3D&nbsp;моделями;
            li MS&nbsp;Office, электронная почта и&nbsp;др.;
            li знание английского языка на&nbsp;должном уровне, для уверенной коммуникации и&nbsp;деловой переписки;
            li готовность к&nbsp;командировкам;
            li ответственность, целеустремленность, обучаемость, умение работать в&nbsp;команде.
          h2 Условия:
          ul
            li официальное трудоустройство
            li стабильная заработная плата
            li более высокий уровень зарплаты при условии хорошего опыта работы и&nbsp;хорошего знания английского языка
            li возможность разносторонне развиваться в&nbsp;компании, имеющей компетенции и&nbsp;продукцию во&nbsp;всех сферах тяжелого машиностроения
            li офис рядом с&nbsp;метро Румянцево
            li помощь и&nbsp;поддержка на&nbsp;начальном этапе работы
        p.vacancy__phone Телефон:
          =" "
          a(href="tel:+79251089127") +7(925)-108-91-27
        p.vacancy__email Резюме направлять на&nbsp;email:
          =" "
          a(href="mailto:snrus@inbox.ru") snrus@inbox.ru
