.advantage-card {
  &__title {
    min-height: 58px;
    margin: 0 0 20px;

    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: $color-default-black;
  }

  &__description {
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: $color-default-black;
  }
}
