.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 15px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  border: none;
  border-radius: 4px;
  background-color: $color-tangerine;
  color: $color-default-white;

  cursor: pointer;
  user-select: none;

  transition: background-color $trans-default;

  outline: none;

  @include hover-focus {
    background-color: $color-lightning-yellow;
  }

  @include active {
    background-color: $color-tangerine-2;
  }

  &--border {
    padding: 11px 19px;

    border: 1px solid $color-tangerine;
    background-color: $color-transparent;
    color: $color-tangerine;

    transition: border $trans-default, color $trans-default;

    @include hover-focus {
      border: 1px solid $color-lightning-yellow;
      background-color: $color-transparent;
      color: $color-lightning-yellow;
    }

    @include active {
      border: 1px solid $color-tangerine-2;
      background-color: $color-transparent;
      color: $color-tangerine-2;
    }
  }
}
