.feedback {
  &__title {
    margin: 0 0 24px;

    font-weight: 500;
    font-size: 32px;
    line-height: 48px;

    color: $color-default-black;

    @include vp-1023 {
      font-size: 30p;
      line-height: 45px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__description {
    margin: 0 0 24px;

    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

    color: $color-default-black;

    @include vp-1023 {
      font-weight: 400;
    }
  }

  &__input {
    margin: 0 0 24px;
  }

  &__textarea {
    height: 130px;
    margin: 0 0 24px;
  }

  &__button {
    width: 100%;
  }

  &__agreement {
    margin: 24px 0 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: $color-default-black;

    a {
      text-decoration: underline;

      transition: color $trans-default;

      @include hover-focus {
        color: $color-lightning-yellow;
      }

      @include active {
        color: $color-tangerine-2;
      }
    }
  }
}
