.footer {
  background-color: $color-seal-brown;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    max-width: 1280px;
    padding: 65px 0 100px;

    @include vp-1023 {
      display: grid;
      grid-template-columns: 184px 1fr;
      column-gap: 180px;
      padding: 60px 0;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      column-gap: unset;
      padding: 40px 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include vp-767 {
      order: 1;

      margin: 0 0 30px;
    }
  }

  &__logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 188px;
    height: 80px;

    @include vp-1023 {
      width: 153px;
    }

    img {
      width: 188px;
      height: 80px;

      object-fit: contain;

      @include vp-1023 {
        width: 153px;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0;

    @include vp-1023 {
      margin: 8px 0 0;
    }
  }

  &__text {
    margin: 0;

    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    color: $color-default-white;
  }

  &__contacts {
    max-width: 320px;

    @include vp-1023 {
      grid-column: 2 / 3;
      grid-row: 1 / 3;

      max-width: 290px;
      margin: 0 0 24px;
    }

    @include vp-767 {
      order: 3;
    }
  }

  &__address-wrapper {
    display: flex;
    align-items: baseline;
    margin: 0 0 30px;

    @include vp-1023 {
      flex-direction: column;
      margin: 0 0 20px;
    }
  }

  &__label {
    margin: 0 10px 0 0;

    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    color: $color-default-white;

    @include vp-1023 {
      margin: 0 0 10px;
    }
  }

  &__address {
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: $color-default-white;
  }

  &__email-wrapper {
    display: flex;
    align-items: baseline;
    margin: 0 0 30px;

    @include vp-1023 {
      flex-direction: column;
      margin: 0 0 20px;
    }
  }

  &__emails {
    display: flex;
    flex-direction: column;
  }

  &__email {
    margin: 0 0 20px;

    font-weight: 300;
    font-size: 16px;
    line-height: 16px;

    color: $color-default-white;

    transition: color $trans-default;

    @include vp-767 {
      margin: 0 0 10px;
    }

    &:last-child {
      margin: 0;
    }

    @include hover-focus {
      color: $color-lightning-yellow;
    }

    @include active {
      color: $color-tangerine-2;
    }
  }

  &__phone-wrapper {
    display: flex;
    align-items: baseline;

    @include vp-1023 {
      flex-direction: column;
    }
  }

  &__phones {
    display: flex;
    flex-direction: column;
  }

  &__phone {
    margin: 0 0 20px;

    font-weight: 300;
    font-size: 16px;
    line-height: 16px;

    color: $color-default-white;

    transition: color $trans-default;

    @include vp-767 {
      margin: 0 0 10px;
    }

    &:last-child {
      margin: 0;
    }

    @include hover-focus {
      color: $color-lightning-yellow;
    }

    @include active {
      color: $color-tangerine-2;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;

    @include vp-1023 {
      grid-column: 1 / 2;
      grid-row: 2 / 5;

      margin: 40px 0 0;
    }

    @include vp-767 {
      order: 2;

      margin: 0 0 30px;
    }
  }

  &__item {
    margin: 0 0 20px;

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;

    color: $color-default-white;

    transition: color $trans-default;

    @include hover-focus {
      color: $color-lightning-yellow;
    }

    @include active {
      color: $color-tangerine-2;
    }
  }

  &__additional-info {
    display: flex;
    flex-direction: column;
    max-width: 204px;

    @include vp-1023 {
      max-width: unset;
    }

    @include vp-767 {
      order: 4;
    }
  }

  &__policy {
    margin: 0 0 30px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: rgba($color-default-white, 0.5);

    transition: color $trans-default;

    @include vp-1023 {
      margin: 0 0 20px;
    }

    @include hover-focus {
      color: $color-lightning-yellow;
    }

    @include active {
      color: $color-tangerine-2;
    }
  }

  &__developed {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: rgba($color-default-white, 0.5);

    transition: color $trans-default;

    @include hover-focus {
      color: $color-lightning-yellow;
    }

    @include active {
      color: $color-tangerine-2;
    }
  }
}
