.header {
  z-index: 10;
  width: 100%;

  background-color: $color-default-white;

  &.is-open {
    .main-nav__toggle {
      span {
        &:nth-child(1) {
          top: 24px;
          transform: rotate(-45deg) translate(0, -50%);
        }

        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }

        &:nth-child(3) {
          top: 22px;
          transform: rotate(45deg) translate(0, 50%);
        }
      }
    }

    .main-nav__menu {
      transform: translateX(0);
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @include vp-1023 {
      justify-content: space-between;
    }
  }

  &__logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 188px;
    height: 80px;

    @include vp-1023 {
      width: 153px;
    }

    img {
      width: 188px;
      height: 80px;

      object-fit: contain;

      @include vp-1023 {
        width: 153px;
      }
    }
  }
}
