.intro {
  position: relative;
  overflow: hidden;

  &__background {
    z-index: -1;
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__wrapper {
    position: relative;
    padding: 220px 0;

    @include vp-1023 {
      padding: 180px 0;
    }

    @include vp-767 {
      padding: 70px 0;
    }
  }

  &__title {
    max-width: 680px;
    margin: 0 0 20px;

    font-family: $ff-arima-madurai;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-transform: uppercase;

    color: $color-default-white;

    @include vp-1023 {
      max-width: 300px;

      font-size: 54px;
      line-height: 65px;
    }

    @include vp-767 {
      max-width: 330px;

      font-size: 30px;
      line-height: 36px;
    }

    @include vp-389 {
      font-size: 25px;
      line-height: 30px;
    }
  }

  &__description {
    max-width: 393px;
    margin: 0 0 40px;

    font-weight: 500;
    font-size: 24px;
    line-height: 34px;

    color: $color-default-white;

    @include vp-1023 {
      max-width: 300px;

      font-size: 18px;
      line-height: 25px;
    }

    @include vp-767 {
      max-width: 320px;
      margin: 0 0 20px;

      font-size: 16px;
      line-height: 22px;
    }
  }

  &__image {
    z-index: -1;
    position: absolute;
    top: 37px;
    left: calc(100% - 738px + 38px);

    width: 738px;
    height: 675px;

    @include vp-1439 {
      left: 680px;
    }

    @include vp-1023 {
      top: 39px;
      left: 254px;
    }

    @include vp-767 {
      position: relative;
      top: 0;
      left: 0;

      width: 320px;
      height: 293px;
    }

    @include vp-389 {
      width: 100%;
    }

    img {
      width: 738px;
      height: 675px;

      object-fit: contain;

      @include vp-767 {
        width: 320px;
        height: 293px;
      }

      @include vp-389 {
        width: 100%;
      }
    }
  }

  &__button {
    width: 100%;
    max-width: 300px;

    @include vp-767 {
      margin: 20px 0 0;
    }
  }
}
