.main-nav {
  width: 100%;
  margin: 0 0 0 150px;

  @include vp-1279 {
    margin: 0 0 0 20px;
  }

  @include vp-1023 {
    width: auto;
  }

  &__toggle {
    position: relative;
    display: none;

    width: 60px;
    height: 48px;
    padding: 12px 10px;

    border-radius: 6px;

    cursor: pointer;
    user-select: none;

    transition: opacity $trans-default;

    @include vp-1023 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      display: block;
      position: absolute;

      left: 10px;

      width: calc(100% - 10px * 2);
      height: 3.5px;

      border-radius: 6px;
      background-color: $color-tangerine;

      transition: transform $trans-default, opacity $trans-default, visibility $trans-default;

      &:nth-child(1) {
        top: 12px;
      }

      &:nth-child(2) {
        top: 50%;

        transform: translateY(-50%);
      }

      &:nth-child(3) {
        bottom: 12px;
      }
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    width: 100%;

    @include vp-1279 {
      justify-content: flex-end;
    }

    @include vp-1023 {
      z-index: 10;
      position: fixed;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: auto;

      top: 80px;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;
      padding: 30px 44px 60px;

      background-color: $color-default-white;

      transition: transform $trans-default, visibility $trans-default, opacity $trans-default;
      transform: translateX(100%);
    }

    @include vp-767 {
      padding: 20px 35px 40px;
    }

    @include vp-389 {
      padding: 20px 20px 40px;
    }
  }

  &__list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    @include vp-1023 {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    margin: 0 70px 0 0;

    @include vp-1439 {
      margin: 0 30px 0 0;
    }

    @include vp-1279 {
      margin: 0 20px 0 0;
    }

    @include vp-1023 {
      margin: 0 0 20px;
    }

    &.menu-item-has-children {
      // .main-nav__link {
      //   &::after {
      //     content: "";
      //     width: 16px;
      //     height: 16px;
      //     margin-left: 4px;

      //     background-image: url("../img/sprite/icon-chevron-down.svg");
      //     background-position: 0 0;
      //     background-repeat: no-repeat;

      //     transition: transform $trans-default;
      //   }
      // }

      @media (min-width: 1023px) {
        @include focus-within {
          .main-nav__link {
            color: $color-tangerine;

            &::after {
              content: "";
            }

            svg {
              color: $color-tangerine;

              transform: rotate(180deg);
            }
          }

          .main-nav__sublist {
            opacity: 1;
            visibility: visible;
          }
        }

        @include hover-focus {
          .main-nav__link {
            color: $color-tangerine;

            &::after {
              content: "";
            }

            svg {
              color: $color-tangerine;

              transform: rotate(180deg);
            }
          }

          .main-nav__sublist {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    &.menu-item-has-children.is-active {
      .main-nav__link {
        @include vp-1023 {
          color: $color-tangerine;
        }

        svg {
          @include vp-1023 {
            color: $color-tangerine;

            transform: rotate(180deg);
          }
        }
      }

      .main-nav__sublist {
        @include vp-1023 {
          display: block;
        }
      }
    }

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    color: $color-default-black;

    transition: color $trans-default;
    transform: translate3d(0, 0, 0);

    @include vp-1023 {
      font-size: 20px;
      line-height: 20px;
    }

    &::after {
      content: none;
      position: absolute;

      top: 100%;
      left: 0;

      width: 100%;
      height: 10px;
    }

    svg {
      flex-shrink: 0;

      width: 16px;
      height: 16px;
      margin: 0 0 0 4px;

      color: $color-default-black;

      transition: color $trans-default, transform $trans-default;
    }

    @include hover-focus {
      color: $color-tangerine;

      svg {
        color: $color-tangerine;
      }
    }

    @include active {
      color: $color-tangerine-2;

      svg {
        color: $color-tangerine-2;
      }
    }
  }

  &__sublist {
    z-index: 10;
    position: absolute;
    top: calc(100% + 10px);
    left: -30px;

    width: max-content;
    min-width: 225px;
    margin: 0;
    padding: 20px 30px 30px;

    list-style: none;

    border-radius: 0 0 6px 6px;
    background-color: $color-default-white;
    box-shadow: 0 4px 5px 0 rgba($color-matterhorn, 0.1);

    transition: transform $trans-default, opacity $trans-default, visibility $trans-default;

    opacity: 0;
    visibility: hidden;

    @include vp-1023 {
      position: relative;
      display: none;
      top: 0;
      left: 0;

      width: auto;
      min-width: unset;
      padding: 20px 0 10px;

      border-radius: 0;
      background-color: $color-transparent;
      box-shadow: none;

      opacity: 1;
      visibility: visible;
    }
  }

  &__subitem {
    margin: 0 0 20px;

    &:last-child {
      margin: 0;
    }
  }

  &__sublink {
    display: flex;

    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    color: $color-default-black;

    transition: color $trans-default;

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;
    }

    @include hover-focus {
      color: $color-tangerine;
    }

    @include active {
      color: $color-tangerine-2;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include vp-1023 {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 50px 0 0;
    }

    @include vp-767 {
      margin: 60px 0 0;
    }

    @include vp-389 {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__phone {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    white-space: nowrap;

    color: $color-tangerine;

    transition: color $trans-default;

    @include vp-1023 {
      order: 1;

      margin-bottom: 0;

      font-size: 20px;
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;
    }

    @include hover-focus {
      color: $color-lightning-yellow;
    }

    @include active {
      color: $color-tangerine-2;
    }
  }

  &__email {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    white-space: nowrap;

    color: $color-tangerine;

    transition: color $trans-default;

    @include vp-1023 {
      margin-right: 20px;

      font-size: 20px;
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;
    }

    @include vp-389 {
      margin: 0 0 20px;
    }

    @include hover-focus {
      color: $color-lightning-yellow;
    }

    @include active {
      color: $color-tangerine-2;
    }
  }
}
