.section {
  &--first {
    .section__wrapper {
      padding: 0 0 80px;

      @include vp-1023 {
        padding: 0 0 60px;
      }

      @include vp-767 {
        padding: 0 0 40px;
      }
    }
  }

  &--reverse {
    .section__columns {
      grid-template-columns: 1fr 602px;
    }

    .section__info {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    .section__image {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  &__wrapper {
    position: relative;
    padding: 80px 0;

    @include vp-1023 {
      padding: 60px 0;
    }

    @include vp-767 {
      padding: 40px 0;
    }
  }

  &__columns {
    display: grid;
    grid-template-columns: 602px 1fr;
    column-gap: 115px;
    row-gap: 40px;

    @include vp-1439 {
      column-gap: 40px;
    }

    @include vp-1279 {
      display: flex;
      flex-direction: column;
      column-gap: unset;
    }
  }

  &__info {
    width: 100%;
  }

  &__title {
    margin: 0 0 54px;

    @include vp-1023 {
      margin: 0 0 30px;
    }
  }

  &__content {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: $color-default-black;

    @include vp-767 {
      font-size: 16px;
      line-height: 24px;
    }

    p {
      margin: 0 0 20px;
    }

    ul {
      padding: 0 0 0 15px;
    }

    li {
      &::marker {
        content: "- ";
      }
    }
  }

  &__image {
    width: 100%;
    max-width: 683px;
    height: 100%;
    max-height: 598px;

    border-radius: 6px;

    img {
      width: 100%;
      max-width: 683px;
      height: 100%;
      max-height: 598px;

      border-radius: 6px;

      object-fit: cover;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    margin: 50px 0 0;

    @include vp-1439 {
      column-gap: 20px;
      row-gap: 20px;
    }

    @include vp-1279 {
      grid-template-columns: 320px 320px;
      column-gap: 40px;
      row-gap: 40px;
      margin: 40px 0 0;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      column-gap: unset;
      row-gap: unset;
    }
  }

  &__item {
    width: 100%;
    max-width: 320px;
    height: 320px;

    border-radius: 6px;

    @include vp-767 {
      margin: 0 0 30px;
    }

    &:last-child {
      @include vp-767 {
        margin: 0;
      }
    }

    img {
      width: 100%;
      max-width: 320px;
      height: 320px;

      border-radius: 6px;

      object-fit: cover;
    }
  }
}
