.vacancies {
  &__wrapper {
    margin: 0 0 80px;

    @include vp-1023 {
      margin: 0 0 60px;
    }

    @include vp-767 {
      margin: 0 0 40px;
    }
  }

  &__title {
    margin: 0 0 30px;
  }

  &__description {
    margin: 0 0 30px;

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: $color-default-black;

    @include vp-767 {
      font-size: 16px;
      line-height: 22px;
    }

    @include vp-1023 {
      margin: 0 0 40px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin: 0 0 40px;
    padding: 30px;

    border: 1px solid $color-gainsboro;
    border-radius: 10px;

    @include vp-1023 {
      margin: 0 0 30px
    }

    @include vp-389 {
      padding: 20px;
    }

    &:last-child {
      margin: 0;
    }
  }
}
